@model TermProject.Models.Origin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Origin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OriginId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
